<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/spinner.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div ng-controller="NarrowItDownController as narrowItDown" class="container">

    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <form class="form-inline">
      <div class="form-group">
        <input ng-model="narrowItDown.searchTerm" type="text" placeholder="search term" class="form-control">
      </div>
      <button ng-click="narrowItDown.search()" class="btn btn-primary">Narrow It Down For Me!</button>
    </form>

    <!-- found-items should be implemented as a component -->
    <found-items items="narrowItDown.found" on-remove="narrowItDown.removeItem(itemIndex)"></found-items>
    <div ng-if="narrowItDown.shouldShowMessage()" class="error">
      {{ narrowItDown.message }}
    </div>
  </div>

</body>
</html>
