<table class="table" ng-if="iFDC.items.any()">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in iFDC.items">
            <td>{{ item.short_name }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td><button ng-click="iFDC.onRemove({itemIndex: $index})" class="btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Don't want this one!</button></td>
        </tr>
    </tbody>
</table>
